<select class="form-control">
  <% @pins.each do |pin| %>
  <option><%= pin.categoria %></option>
  <% end %>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>